.landing-background,
body > div
  {
  background-image: url("https://github.com/awestbro/pizza4days/blob/gh-pages/_pictures/pizza-1562028.jpg?raw=true");
  background-size: cover;
  width:100%;
  height:100%;
}
#landing-text {
  color:blue;
  
}
